.vs
.vscode
Debug
Release
x64
munch_compiler/Debug
munch_compiler/x64
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*_output.c
*.exe
*.stackdump
*.o

*/munch_test/*.c
*/munch_test/*.mch

!test1.mch
